<div class="container">
  <h1><%= @restaurant.name %></h1>
  <div class="info">
    <p>Address: <%= @restaurant.address %></p>
    <p>Contact them on: <%= @restaurant.phone_number %></p>
    <p>Category: <%= @restaurant.category %></p>
  </div>

<div class="form-container">
  <h2>Leave a review</h2>
  <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :rating, collection: [1, 2, 3, 4, 5] %>
    <%= f.input :content %>
    <%= f.submit "Add review", class: "btn btn-primary" %>
  <% end %>
</div>
</div>
